<%- include ("../public/page_header.ejs")%>

<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-sm-2"><%- include ("../public/page_aside.ejs")%></div> -->
    <div class="col-sm-10">
      <!--
                列表展示
            -->
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="th">
              <th>管理员名称</th>
              <th>管理员电话</th>
              <th>管理员邮箱</th>

              <th class="text-center">状态</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <%for(let i=0;i<list.length;i++){%>
            <tr>
              <td><%=list[i].username%></td>
              <td><%=list[i].mobile%></td>
              <td><%=list[i].email%></td>
              <td class="text-center">
                <%if(list[i].status===1){%>
                <img
                  style="width: fit-content; height: 15px"
                  src="/admin/images/yes.png"
                  alt=""
                />
                <%}else{%>
                  <img
                  style="width: fit-content; height: 15px"
                  src="/admin/images/no.png"
                  alt=""
                />
                <%}%>
              </td>

              <td class="text-center"><a href="/admin/manager/edit?id=<%=list[i]._id%>">修改</a> <a class="delete" href="/admin/manager/delete?id=<%=list[i]._id%>">删除</a> </td>
            </tr>
            <%}%>
            <!-- <tr>
              <td>2</td>
              <td>图标</td>
              <td>thinpad笔记本电脑</td>
              <td>20元</td>
              <td>10元</td>

              <td class="text-center">修改 删除</td>
            </tr>
            <tr>
              <td>3</td>
              <td>图标</td>
              <td>iphone7</td>
              <td>20元</td>
              <td>10元</td>

              <td class="text-center">修改 删除</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
